__pycache__
*.pyc
*.orig
*~
~*
.~*
.DS_Store
._.DS_Store
.sass-cache/
log/**
session-data/**
media/**
.idea/dataSources.ids
.idea/workspace.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
bootstrap.css.map
static/**
.idea/dataSources/**
*.authkeys
.venv
